body {
  margin: 0;
  padding:0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;

  background-color: #849d8f;
}

.main-page {
  background-image: url("../img/slider-1.png");
  background-repeat: no-repeat;
  background-position: top center;
}

a {
  text-decoration: none;
}

.button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  vertical-align: middle;
  text-align: center;
  padding: 10px 22px;


  background-image: linear-gradient(to top, #ca3824, #f26843);
  box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.54);
  border: none;
  border-radius: 25px;
}

.button:hover, .button:focus {
  color:#fefefe;

  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow:
  0 1px 2px 0 #ac1000,
  inset 0 0 30px rgba(255, 255, 255, 0.2);
  outline: none;
}

.button:active {
  color:#fceeec;

  background-image: linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset
  0 2px 2px 0 #942718,
  inset 0 0 30px rgba(0, 0, 0, 0.07);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Хедер */


.site-navigation, .user-navigation, .submenu-navigation {
  list-style: none;
}

.site-navigation a, .user-navigation a {
  color: #ffffff;
}

.site-navigation {
  line-height: 18px;
  font-weight: 700;
}

.site-navigation a {
  text-decoration: underline;
  text-decoration-color: rgba(255,255,255,0.2);
  padding: 7px 14px;
  border-radius: 20px;
}

.site-navigation a:hover, .site-navigation a:focus {
  color: #333333;
  text-decoration: none;
  outline: none;

  background-color: #f7f6f3;
}

.site-navigation a:active {
  color: #333333;
  text-decoration: none;

  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
}

a.site-navigation_current {
  line-height: 18px;
  font-weight: 700;
  text-decoration: none;

  background-color: #d07058;
}

.user-navigation {
  font-size: 14px;
  line-height: 16px;
}

.user-navigation a {
  background-color: rgba(255,255,255,0.2);
  padding: 7px 14px;
  border-radius: 20px;
}

.user-navigation a:hover, .user-navigation a:focus {
  color: #323232;
  outline: none;

  background-color: #f8f7f4;
}

.cart_active a {
  background-color: rgba(255, 255, 255, 0.99);
  color: #323232;
  font-size: 14px;
  line-height: 16px;
}


/* В макете есть состояние для пункта подменю "НАХОДИМСЯ НА СТРАНИЦЕ". Не понимаю куда его добавить и с каким классом/псвдоклассом.  */


.submenu-navigation {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.submenu-navigation-new {
  font-weight: 700;
}

.submenu-navigation a {
  color: #323232;

  background-color: #f8f7f4;
}

.submenu-navigation a:hover, .submenu-navigation a:focus {
  background-color: #fbded7;
  outline: none;
}

.submenu-navigation a:active {
  background-color: #f6b5a5;
  box-shadow: none;
}

.header-contacts {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-align: right;
}

.header-phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

a.header-phone {
  color: #ffffff;
}

/* Хлебные крошки */
ul.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: rgba(255,255,255,0.2);
}

.breadcrumbs a:hover, .breadcrumbs a:active, .breadcrumbs a:focus {
  color: #ffbc9e;
  text-decoration: underline;
  text-decoration-color: rgba(255,188,158,0.2);
  outline: none;
}

.breadcrumbs_current {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

h2.page-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

/* Фильтры */

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 14px;
  line-height: 16px;
}

.filter ul {
  list-style: none;
  line-height: 18px;
}

.filter-input {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 5px 15px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}

.filter_sort:hover, .filter_sort:focus {
  color: #323232;
  outline: none;
}

.filter_sort option {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.filter-button {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-image: none;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  box-shadow: none;
  padding: 0;
  margin: 0;
  padding: 9px 30px;
}

.filter-button:hover, .filter-button:focus {
  color: #323232;

  background-image: none;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: none;
  outline:none;
}

.filter-button:active {
  color: #323232;

  background-image: none;
  background-color: #ededed;
  border: 2px solid #ffffff;
  box-shadow: inset 0 2px 1px 0 #696969;
  outline: none;
}

/* Слайдер */

p.slider_name {
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}

a.slider_button {
  font-size: 32px;
  line-height: 44px;
  text-shadow:
    0 2px 5px rgba(160, 32, 11, 0.76);
  padding: 20px 42px;

  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  border-radius: 40px;
}

a.slider_button:hover, a.slider_button:focus {
  box-shadow:
    0 2px 2px 0 #ac1000;
    outline: none;
}

ul.slides-switches {
  list-style: none;
}

/* Специальные предложения */
ul.special-offer-list {
  list-style: none;
}

h3.special-offer-item_title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

p.special-offer-item_desc {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 50px;
}

.special-offer-item a {
  display: inline-block;
}

.special-offer-item:first-child {
  background-color: #9d0025;
  background-image: url("../img/raspberry-background.jpg");
}

.special-offer-item {
  background-color: #321d18;
  background-image: url("../img/chocolate-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

/* Хиты */

.hits-list {
  list-style: none;
}

.hits-item_img, .catalog-item_img {
  border-radius: 50%;
}

a.hits-item_name {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

a.hits-item_name:hover, a.hits-item_name:active, a.hits-item_name:focus {
  color: #ffbc9e;
  color: #ffbc9e;
  text-decoration-color: rgba(255, 188, 158, 0.2);
  outline: none;
}

/* Товары в каталоге */

.catalog-list {
  list-style:none;
}

a.catalog-item_name {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

a.catalog-item_name:hover, a.catalog-item_name:active, a.catalog-item_name:focus {
  color: #ffbc9e;
  text-decoration-color: rgba(255, 188, 158, 0.2);
  outline: none;
}

.catalog-item p {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-shadow:
    1px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item span {
  font-size: 30px;
}


/* О нас  */
.about_content {
  background-color: #f1e4ca;
  background-image: url("../img/waffle-background.jpg");
  background-repeat: round;
  border-radius: 23px;
}

.about_headline {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  padding: 20px;
  margin: 0;
}


.about_info p {
  font-weight: 400;
  color: #323232;
}

/* Новости */

.news {
  background-color: #ffffff;
  background-image: url("../img/blog-background.jpg");
  background-repeat: no-repeat;
  background-position: 18% 39%;
}

.news_title {
  color: #323232;
}


a.news_link {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-decoration: underline;
}

a.news_link:hover, a.news_link:active, a.news_link:focus {
  color: #e84d37;
  outline: none;
}

/* Рассылка */

.subscribe {
  background-color: #f8f7f4;
}

.subsribe-info {
  font-weight: 400;
  color: #5a5a5a;
}

.subscribe-form input[type="email"] {
  color: #323232;
  font-weight: 700;
  padding: 12px;
  border-radius: 5px;
  width: 90%;

  background-color: #ffffff;
  box-shadow: inset 0 0 0 1px rgba(178, 178, 178, 0.52);
  border: none;
}

/* По макету надо поменять цвет текста в placeholder. Нашла в интернете эти варианты. Нормально? */

.subscribe-form input[type="email"]::-webkit-input-placeholder {
  color: #999999;
  font-weight: 400;
}

.subscribe-form input[type="email"]::-moz-placeholder {
  color: #999999;
  font-weight: 400;
}

.subscribe-form input[type="email"]:hover{
  box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.subscribe-form input[type="email"]:focus{
  box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.52);
  outline: none;
}

/* Контакты */

.contacts {
  background-color: #ece5c8;
}

.contacts-block {
  background-color: #ffffff;
}

.contacts-block p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
}

.contacts-block span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

a.contacts-info {
  color: #323232;
}

/* Пагинатор */

ul.pagination-list {
  list-style: none;
}

.pagination-item a {
  line-height: 18px;
  color: #ffffff;
  border-radius: 50%;
  padding: 4px 9px;
}

.pagination-item a:hover, .pagination-item a:focus {
  background-color: rgba(255, 255, 255, 0.2);
  outline: none;
}

.pagination-item a:active {
  color: #323232;

  background-color: #ffffff;
}

.pagination-item_inactive a, .pagination-item_inactive a:hover, .pagination-item_inactive a:active {
  color: rgba(255, 255, 255, 0.2);

  background-color: transparent;
}

.pagination-item_current a, .pagination-item_current a:hover, .pagination-item_current a:active {
  color: #323232;

  background-color: #ffffff;
}



/* Футер */

ul.footer-social {
  list-style: none;
}

a.social-button {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

ul.footer-menu {
  list-style: none;
}

/* Стоит ли этот текст сразу разбить на колонки через column-count? */

a.footer-menu-item {
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

a.footer-menu-item:hover, a.footer-menu-item:active, a.footer-menu-item:focus  {
  color: #ffbc9e;
  text-decoration-color: rgba(255, 188, 158, 0.2);
  outline: none;
}



/* Не получается выделить этот пункт жирным через :first-child. Не понимаю, как в данном случае правильно селекторы прописать.  */

.footer-menu_content li:first-child {
  font-weight: 700;
}

.footer-copyright p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.footer-copyright a {
  color: #ffffff;
}

.footer-copyright a:hover, .footer-copyright a:active, .footer-copyright a:focus {
  color: #ffbc9e;
  outline: none;
}

/* Модалки */

/* Фидбэк */
.modal h2 {
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.modal-feedback {
  background-color: #f8f7f4;
}

.feedback-form input[type="email"], .feedback-form input[type="text"], .feedback-form textarea {
  color: #323232;
  font-weight: 700;
  border-radius: 5px;

  background-color: #ffffff;
  box-shadow: inset 0 0 0 1px rgba(178, 178, 178, 0.52);
  border: none;
}

.feedback-form input[type="email"]::-webkit-input-placeholder, .feedback-form input[type="text"]::-webkit-input-placeholder, .feedback-form textarea::-webkit-input-placeholder {
  color: #999999;
  font-weight: 400;
}

.feedback-form input[type="email"]::-moz-placeholder, .feedback-form input[type="text"]::-moz-placeholder, .feedback-form textarea::-moz-placeholder  {
  color: #999999;
  font-weight: 400;
}

.feedback-form input[type="email"]:hover, .feedback-form input[type="text"]:hover, .feedback-form textarea:hover {
  box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.feedback-form input[type="email"]:focus, .feedback-form input[type="text"]:focus, .feedback-form textarea:focus {
  box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.52);
  outline: none;
}

/* Поиск */
.modal-search {
  background-color: #f8f7f4;
}

.search-form input[type="search"] {
  color: #323232;
  font-weight: 700;
  border-radius: 5px;

  background-color: #ffffff;
  box-shadow: inset 0 0 0 1px rgba(178, 178, 178, 0.52);
  border: none;
}

.search-form input[type="search"]::-webkit-input-placeholder {
  color: #999999;
  font-weight: 400;
}

.search-form input[type="search"]::-moz-placeholder {
  color: #999999;
  font-weight: 400;
}

.search-form input[type="search"]:hover {
  box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.search-form input[type="search"]:focus {
  box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.52);
  outline: none;
}

/* Вход */

.modal-login {
  background-color: #f8f7f4;
}

.login-form input[type="email"], .login-form input[type="password"] {
  color: #323232;
  font-weight: 700;
  border-radius: 5px;

  background-color: #ffffff;
  box-shadow: inset 0 0 0 1px rgba(178, 178, 178, 0.52);
  border: none;
}

.login-form input[type="email"]::-webkit-input-placeholder, .login-form input[type="password"]::-webkit-input-placeholder {
  color: #999999;
  font-weight: 400;
}

.login-form input[type="email"]::-moz-placeholder, .login-form input[type="password"]::-moz-placeholder {
  color: #999999;
  font-weight: 400;
}

.login-form input[type="email"]:hover, .login-form input[type="password"]:hover {
  box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.login-form input[type="email"]:focus, .login-form input[type="password"]:focus {
  box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.52);
  outline: none;
}

.login-password-info a {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  text-decoration: underline;
  text-decoration-color: rgba(50, 50, 50, 0.3);
}

.login-password-info a:hover, .login-password-info a:active {
color: #e84d37;
text-decoration: underline;
text-decoration-color: rgba(232, 77, 55, 0.3);
}

/* Корзина */

.modal-cart {
  background-color: #f8f7f4;
}

ul.modal-cart-list {
  list-style: none;
  color: #323232;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.modal-cart-item_cost {
  color: #999999;
}

.modal-cart_total {
  color: #323232;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}




/* Сеточные стили */

.main-header {
  width: 100%;
  margin-bottom: 0px;
}

.main-page .main-header {
  margin-bottom: 100px;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 2.3%;
}


.main-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 10px;
}


div.main-header_logo {
  width: 154px;
  height: 64px;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation li {
  margin-left: 5px;
}


.user-navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  margin-left: auto;

  list-style: none;

}

.user-navigation li {
  margin-left: 20px;
}

.header-contacts {
  width: 100%;
  margin: 0;
  padding: 0;
}

.top-items {
  width: 100%;
  margin-bottom: 40px;
}


.special-offer-list {
  padding: 0;
  margin:0;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;

}

.special-offer-item {
  margin: 0;
  padding: 0;
  width: 48.8%;
}

.special-offer_content {
  padding: 20px;
  margin: 0;
}



.hits-list, .catalog-list {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.hits-item, .catalog-item {
  width: 23.4%;

}

.hits-item:hover, .catalog-item:hover, .hits-item:focus, .catalog-item:focus {
  background-color: rgba(248, 247, 244, 0.2);
  padding: 5px 13px 20px 13px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  height: 405px;
  margin: 0;
}

.hits-item:hover .item-button, .catalog-item:hover .item-button, .hits-item:focus .item-button, .catalog-item:focus .item-button {
  opacity: 1;
}

.item-button {
  opacity: 0;
}

.catalog-item {
  margin-bottom: 35px;
}

.hits-item {
  margin-bottom: 0;
}

.hits-item p, .catalog-item p {
  margin: 0;
}

.hits-item h3, .catalog-item h3 {
  margin: 0;
  text-align: center;
}




.about {
  margin-bottom: 40px;
}

.about_info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.about_info p{
  width: 43%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
}

.news-subscription {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.news, .subscribe {
  width: 48.8%;
  border-radius: 15px;
}

.news_content {
  padding: 28px 250px 80px 20px;
}

.news_title {
  margin: 0;
}

.subscribe {
  margin: 5px;
}

.subscribe_content {
  padding: 20px 25px 25px 20px;
}

.subscribe-form p {
  display: inline-block;
  width: 70%;
  margin: 0;
}

.contacts {
  position: relative;
  width: 1200px;
  margin: auto;
}




.contacts-block {
  position: absolute;
  width: 303px;
  top: 63px;
  right: 27px;

  border-radius: 15px;
}

.contacts_content {
  padding: 30px 30px 30px 30px;
}

.contacts_content p {
  margin: 0;
  margin-bottom: 20px;
}

.contacts_content a {
  display: inline-block;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
}

a.contacts-info {
  display: inline;
  padding: 0;

}

.main-footer {
  margin-top: 20px;
  padding-left: 27px;
  padding-right: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social {
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-social li + li {
  margin-left: 15px;
}

.footer-menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.footer-menu li {
  width: 34%;
}


.footer-menu li:first-child a {
  font-weight: 700;
}

.footer-copyright {
  margin: 0;
  display: flex;
  flex-direction: column;


}

.footer-copyright p {
  margin: 0;
}


.breadcrumbs {
  padding:0;
  margin: 0;

  display: flex;
  align-items: baseline;
}

.breadcrumbs li + li{
  margin-left: 10px;
}

.page-title {
  margin-top: 0;
}

form.filter {
  display: flex;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  flex-wrap: wrap;
  width: 75%;
  align-items: center;
  justify-content: space-around;
}

form.filter legend {
  margin-bottom: 5px;
}

form.filter fieldset {
  padding: 0;
  margin: 0;

  margin-bottom: 15px;
  flex-grow: 1;
}

.filter_fat, .filter_topping {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 11px 25px;
  margin: 0;
  border-radius: 30px;
}

.filter_fat li {
  margin-left: 35px;
}

.filter_topping li {
  margin-left: 50px;
}
.filter_topping li:first-child {
  margin-left: 30px;
}


.pagination-list {
  display: flex;
  justify-content: flex-end;
}

.pagination-item {
  margin-left: 2px;
}
