body {
  margin: 0;
  padding:0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;

  background-color: #849d8f;
}

.main-page {
  background-image: url("../img/slider-1.png");
  background-repeat: no-repeat;
  background-position: top center;
}

a {
  text-decoration: none;
}

.button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  vertical-align: middle;
  text-align: center;

  background-image: linear-gradient(to top, #ca3824, #f26843);
  box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.54);
  border: none;
}

.button:hover {
  color:#fefefe;

  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow:
  0 1px 2px 0 #ac1000,
  inset 0 0 30px rgba(255, 255, 255, 0.2);
}

.button:active {
  color:#fceeec;

  background-image: linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset
  0 2px 2px 0 #942718,
  inset 0 0 30px rgba(0, 0, 0, 0.07);
}

/* Хедер */


.site-navigation, .user-navigation, .submenu-navigation {
  list-style: none;
}

.site-navigation a, .user-navigation a {
  color: #ffffff;
}

.site-navigation {
  line-height: 18px;
  font-weight: 700;
}

.site-navigation a {
  text-decoration: underline;
  text-decoration-color: rgba(255,255,255,0.2);
}

.site-navigation a:hover {
  color: #333333;
  text-decoration: none;

  background-color: #f7f6f3;
}

.site-navigation a:active {
  color: #333333;
  text-decoration: none;

  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
}

a.site-navigation_current {
  line-height: 18px;
  font-weight: 700;
  text-decoration: none;

  background-color: #d07058;
}

.user-navigation {
  font-size: 14px;
  line-height: 16px;
}

.user-navigation a {
  background-color: rgba(255,255,255,0.2);
}

.user-navigation a:hover {
  color: #323232;

  background-color: #f8f7f4;
}

.cart_active a {
  background-color: rgba(255, 255, 255, 0.99);
  color: #323232;
  font-size: 14px;
  line-height: 16px;
}


/* В макете есть состояние для пункта подменю "НАХОДИМСЯ НА СТРАНИЦЕ". Не понимаю куда его добавить и с каким классом/псвдоклассом.  */


.submenu-navigation {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.submenu-navigation-new {
  font-weight: 700;
}

.submenu-navigation a {
  color: #323232;

  background-color: #f8f7f4;
}

.submenu-navigation a:hover {
  background-color: #fbded7;
}

.submenu-navigation a:active {
  background-color: #f6b5a5;
  box-shadow: none;
}

.header-contacts {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-align: right;
}

.header-phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

a.header-phone {
  color: #ffffff;
}

/* Хлебные крошки */
ul.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: rgba(255,255,255,0.2);
}

.breadcrumbs a:hover, .breadcrumbs a:active {
  color: #ffbc9e;
  text-decoration: underline;
  text-decoration-color: rgba(255,188,158,0.2);
}

.breadcrumbs_current {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

h2.page-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

/* Фильтры */

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 14px;
  line-height: 16px;
}

.filter ul {
  list-style: none;
  line-height: 18px;
}

.filter-input {
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.filter_sort:hover {
  color: #323232;
}

.filter_sort option {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.filter-button {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-image: none;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  box-shadow: none;
}

.filter-button:hover {
  color: #323232;

  background-image: none;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: none;
}

.filter-button:active {
  color: #323232;

  background-image: none;
  background-color: #ededed;
  border: 2px solid #ffffff;
  box-shadow: inset 0 2px 1px 0 #696969;
}

/* Слайдер */

p.slider_name {
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}

a.slider_button {
  font-size: 32px;
  line-height: 44px;
  text-shadow:
    0 2px 5px rgba(160, 32, 11, 0.76);

  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
}

a.slider_button:hover {
  box-shadow:
    0 2px 2px 0 #ac1000;
}

ul.slides-switches {
  list-style: none;
}

/* Специальные предложения */
ul.special-offer-list {
  list-style: none;
}

h3.special-offer-item_title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

p.special-offer-item_desc {
  font-size: 18px;
  font-weight: 700;
}

/* Фон пока оставить так, а потом скруглять рамки уже когда будем прописывать блоки? Или это нужно сделать сразу для фона? */

.special-offer-item:first-child {
  background-color: #9d0025;
  background-image: url("../img/raspberry-background.jpg");
  background-repeat: no-repeat;
  background-size: 560px auto cover;
  border-radius: 12px 12px 12px 12px;
}

.special-offer-item {
  background-color: #321d18;
  background-image: url("../img/chocolate-background.jpg");
  background-repeat: no-repeat;
  background-size: 560px auto cover;
  border-radius: 12px 12px 12px 12px;
}

/* Хиты */

.hits-list {
  list-style: none;
}

a.hits-item_name {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

a.hits-item_name:hover, a.hits-item_name:active {
  color: #ffbc9e;
  color: #ffbc9e;
  text-decoration-color: rgba(255, 188, 158, 0.2);
}

/* Товары в каталоге */

.catalog-list {
  list-style:none;
}

a.catalog-item_name {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

a.catalog-item_name:hover, a.catalog-item_name:active {
  color: #ffbc9e;
  text-decoration-color: rgba(255, 188, 158, 0.2);
}

.catalog-item p {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-shadow:
    1px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item span {
  font-size: 30px;
}

/* Ниже пыталась обернуть карточку товара в ссылку, чтобы добавить ей ховер. Но не получилось) Я так понимаю, это нужно будет как-то иначе сделать? */

/* a.catalog-item_card:hover {
  background-color: rgba(248, 247, 244, 0.2);
  box-shadow:
  0 20px 20px 0 rgba(0, 0, 0, 0.4);
} */


/* О нас  */
.about {
  background-color: #f1e4ca;
  background-image: url("../img/waffle-background.jpg");
  background-repeat: no-repeat;
}

.about_headline {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

/* Стоит ли этот текст сразу разбить на колонки через column-count? */

.about_info p {
  font-weight: 400;
  color: #323232;
}

/* Новости */

.news {
  background-color: #ffffff;
  background-image: url("../img/blog-background.jpg");
  background-repeat: no-repeat;
  background-position: left;
}

.news_title {
  font-weight: 400;
  color: #323232;
}

a.news_link {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-decoration: underline;
}

a.news_link:hover, a.news_link:active {
  color: #e84d37;
}

/* Рассылка */

.subscribe {
  background-color: #f8f7f4;
}

.subsribe-info {
  font-weight: 400;
  color: #5a5a5a;
}

.subscribe-form input[type="email"] {
  color: #323232;
  font-weight: 700;

  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

/* По макету надо поменять цвет текста в placeholder. Нашла в интернете эти варианты. Нормально? */

.subscribe-form input[type="email"]::-webkit-input-placeholder {
  color: #999999;
  font-weight: 400;
}

.subscribe-form input[type="email"]::-moz-placeholder {
  color: #999999;
  font-weight: 400;
}

.subscribe-form input[type="email"]:hover{
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.subscribe-form input[type="email"]:focus{
  border: 2px solid rgba(46, 136, 228, 0.52);
}

/* Контакты */

.contacts {
  background-color: #ece5c8;
}

.contacts-block {
  background-color: #ffffff;
}

.contacts-block p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
}

.contacts-block span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

a.contacts-info {
  color: #323232;
}

/* Пагинатор */

ul.pagination-list {
  list-style: none;
}

.pagination-item a {
  line-height: 18px;
  color: #ffffff;
}

.pagination-item a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item a:active {
  color: #323232;

  background-color: #ffffff;
}

.pagination-item_inactive a, .pagination-item_inactive a:hover, .pagination-item_inactive a:active {
  color: rgba(255, 255, 255, 0.2);

  background-color: transparent;
}

.pagination-item_current a, .pagination-item_current a:hover, .pagination-item_current a:active {
  color: #323232;

  background-color: #ffffff;
}



/* Футер */

ul.footer-social {
  list-style: none;
}

a.social-button {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

ul.footer-menu {
  list-style: none;
}

/* Стоит ли этот текст сразу разбить на колонки через column-count? */

a.footer-menu-item {
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

a.footer-menu-item:hover, a.footer-menu-item:active  {
  color: #ffbc9e;
  text-decoration-color: rgba(255, 188, 158, 0.2);
}



/* Не получается выделить этот пункт жирным через :first-child. Не понимаю, как в данном случае правильно селекторы прописать.  */

a.footer-menu_supplier {
  font-weight: 700;
}

p.footer-copyright {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.footer-copyright a {
  color: #ffffff;
}

.footer-copyright a:hover, .footer-copyright a:active {
  color: #ffbc9e;
}

/* Модалки */

/* Фидбэк */
.modal h2 {
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.modal-feedback {
  background-color: #f8f7f4;
}

.feedback-form input[type="email"], .feedback-form input[type="text"], .feedback-form textarea {
  color: #323232;
  font-weight: 700;

  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.feedback-form input[type="email"]::-webkit-input-placeholder, .feedback-form input[type="text"]::-webkit-input-placeholder, .feedback-form textarea::-webkit-input-placeholder {
  color: #999999;
  font-weight: 400;
}

.feedback-form input[type="email"]::-moz-placeholder, .feedback-form input[type="text"]::-moz-placeholder, .feedback-form textarea::-moz-placeholder  {
  color: #999999;
  font-weight: 400;
}

.feedback-form input[type="email"]:hover, .feedback-form input[type="text"]:hover, .feedback-form textarea:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.feedback-form input[type="email"]:focus, .feedback-form input[type="text"]:focus, .feedback-form textarea:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

/* Поиск */
.modal-search {
  background-color: #f8f7f4;
}

.search-form input[type="search"] {
  color: #323232;
  font-weight: 700;

  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.search-form input[type="search"]::-webkit-input-placeholder {
  color: #999999;
  font-weight: 400;
}

.search-form input[type="search"]::-moz-placeholder {
  color: #999999;
  font-weight: 400;
}

.search-form input[type="search"]:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.search-form input[type="search"]:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

/* Вход */

.modal-login {
  background-color: #f8f7f4;
}

.login-form input[type="email"], .login-form input[type="email"] {
  color: #323232;
  font-weight: 700;

  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.login-form input[type="email"]::-webkit-input-placeholder, .login-form input[type="password"]::-webkit-input-placeholder {
  color: #999999;
  font-weight: 400;
}

.login-form input[type="email"]::-moz-placeholder, .login-form input[type="password"]::-moz-placeholder {
  color: #999999;
  font-weight: 400;
}

.login-form input[type="email"]:hover, .login-form input[type="password"]:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.login-form input[type="email"]:focus, .login-form input[type="password"]:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.login-password-info a {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  text-decoration: underline;
  text-decoration-color: rgba(50, 50, 50, 0.3);
}

.login-password-info a:hover, .login-password-info a:active {
color: #e84d37;
text-decoration: underline;
text-decoration-color: rgba(232, 77, 55, 0.3);
}

/* Корзина */

.modal-cart {
  background-color: #f8f7f4;
}

ul.modal-cart-list {
  list-style: none;
  color: #323232;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.modal-cart-item_cost {
  color: #999999;
}

.modal-cart_total {
  color: #323232;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}




/* Сеточные стили */

.main-header {
  width: 100%;
  margin-bottom: 100px;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
  padding-top: 10px;

}


.main-navigation {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;

}


div.main-header_logo {
  width: 154px;
  height: 64px;
}

.site-navigation {
  width: 695px;
  margin: 0;
  padding: 0;

  list-style: none;

}

.user-navigation {
  width: 270px;
  margin: 0;
  padding: 0;
  margin-left: auto;

  list-style: none;

}

.header-contacts {
  width: 170px;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.top-items {
  width: 100%;
  margin-bottom: 40px;
}

.special-offer-list {

  padding: 0;
  margin:0;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;

}

.special-offer-item {
  margin: 0;
  padding: 0;
  width: 560px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;

}

.special-offer-item:first-child {
  margin-right: 26px;
}
